/* @import url("https://fonts.googleapis.com/css2?family=Alice&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Alice&family=Patrick+Hand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* font-family: "Alice", serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    /* font-family: "Alice", serif; */
}
